@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
  /* background-image: url("../styles/images/IMG-5988.jpg");
  background-size: contain; */
  font-family: "Poppins", sans-serif;
}

.nav-bar {
  background-color: blueviolet;
}

.nav-bar-title {
  font-size: 50px;
  color: black;
  font-family: "Poppins", sans-serif;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  padding: 20px;
}

.search-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.search-genre {
  text-align: center;
  padding: 20px;
}

.search-random {
  text-align: center;
}
.book-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  max-width: 500px;
}
.book-card {
  text-align: center;
  align-items: center;
  border: 1px solid black;
  max-width: 1000px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.book-card-image {
  max-width: 200px;
}

.results-container {
  display: flex;
  justify-content: space-around;
  border: 3px solid red;
}

.book-card-detail {
  border: 3px solid red;
  display: flex;
  justify-content: space-evenly;
}

.book-card-detail-a {
  max-width: 200px;
}
.book-card-detail-b {
  max-width: 300px;
}

.book-card-detail-image,
.wishlist-image,
.inventory-image {
  max-width: 400px;
}

.wishlist-container,
.inventory-container {
  border: 3px solid red;
}

.wishlist-book-card,
.inventory-book-card {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
